@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(20, 35, 48);
}

textarea {
    resize: none;
    border: none;
    padding: 5px;
    background: transparent;
    color: rgb(173, 173, 173);
}

textarea:focus, textarea:hover {
    outline: 0
}

.head {
    margin: 5%;
}

.title {
    font-family: 'PT Sans', sans-serif;
    color: rgb(230, 230, 230);
}

.center {
    display: flex;
    justify-content: center;
}

.question-container {
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: -1px 1px 1px rgb(230, 230, 230), 1px -1px 1px rgb(230, 230, 230);
}

.result-value-success {
    background-color: rgba(43, 69, 90, 0.712);
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    animation-name: resultAnimation;
    animation-duration: 0.5s;
}

.result-value-danger {
    background-color: rgba(124, 66, 64, 0.712);
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    animation-name: resultAnimation;
    animation-duration: 0.5s;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: rgb(41, 86, 138);
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-top: 15px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(43, 90, 144);
}

button img {
    height: 60%;
}

section {
    margin-top: 50px;
}

@keyframes resultAnimation {
    from {
        margin-right: 150px;
    } to {
        margin-right: 0px
    }
}
